@page "/log/vislog"
@using ServiceEngine.Core;
@using ServiceEngineMasaCore.Blazor.Pages.Components
@attribute [Authorize]
@inherits ProComponentBase
@inject GlobalConfig _GlobalConfig

<PEnqueuedSnackbars Closeable=true Position="@SnackPosition.TopCenter" @ref="_enqueuedSnackbars"></PEnqueuedSnackbars>
<MCard Tile="@(_GlobalConfig.NavigationStyle != NavigationStyles.Rounded)">
    <MRow NoGutters >
        <MCol Md="12">
            <MRow class="ml-2 mt-2">
                <MCol Align="@AlignTypes.Center">
                    @*<PBlockText Primary="账号:"></PBlockText>*@
                    <PDateDigitalClockPicker @bind-Value="_startDate"
                                                        MultiSection=true
                                                        UseSeconds=true
                                                        Scrollable=true
                                                        TimeFormat=TimeFormat.Hr24
                                                        >
                                           <ActivatorContent>
                            <MTextField @bind-Value="_startDate"
                                        Clearable
                                        Readonly
                                        Label="@T("Start DateTime")"
                                        @attributes="@context.Attrs">
                            </MTextField>
                        </ActivatorContent>
                    </PDateDigitalClockPicker>
                </MCol>
                <MCol Align="@AlignTypes.Center">
                    @*<PBlockText Primary="手机号码:"></PBlockText>*@
                    <PDateDigitalClockPicker @bind-Value="_endDate"
                                             MultiSection=true
                                             UseSeconds=true
                                             TimeFormat=TimeFormat.Hr24
                                             Scrollable=true
                                             AllowedDates="IsDateAllowed">
                        <ActivatorContent>
                            <MTextField @bind-Value="_endDate"
                                            Clearable
                                            Readonly
                                        Label="@T("End DateTime")"
                            @attributes="@context.Attrs">
                            </MTextField>
                        </ActivatorContent>
                    </PDateDigitalClockPicker>
                </MCol>
                <MCol Align="@AlignTypes.Center">
                    <MButton Depressed OnClick="ResetOnClick">@T("Reset")</MButton>
                    <MButton Depressed OnClick="ClearAllOnClick">@T("ClearAll")</MButton>
                    <MButton Depressed OnClick="QueryOnClick">@T("Query")</MButton>
                </MCol>
            </MRow>
            <MRow>
                <MCol Cols="12">
                    <MDataTable Headers="_headers" Items="_sysLogList" TItem="SysLogVis" FixedHeader=true HideDefaultFooter Class="elevation-1" Style="width: 100%;height:calc(100vh - 300px);overflow-y:auto;" ItemsPerPage="100" Loading="_isLoading">
                        <HeaderColContent Context="header">
                            <span class="text-subtitle">@header.Text</span>
                        </HeaderColContent>
                        <ItemColContent>
                            @switch (context.Header.Value)
                            {
                                case nameof(SysUser.Index):
                                    <span>@context.Item.Index</span>
                                    break;
                                case nameof(SysUser.Status):
                                    var status = "失败";
                                    var color = "red";
                                    if (context.Item.Status == "200")
                                    {
                                        status = "成功";
                                        color = "green";
                                    }
                                    IEnumerable<BlockTextTag> tags = new List<BlockTextTag>()
                                    {
                                        new(status, color,"white"),
                                    };
                                    <PBlockText Tags="@tags" class="custom-pblocktext"></PBlockText>
                                    break;
                                default:
                                    @context.Value
                                    break;
                            }
                        </ItemColContent>
                    </MDataTable>
                    <div class="d-flex align-end flex-column">
                        <MRow NoGutters Align="@AlignTypes.Center">
                            <MCol class="mr-4">
                                <span>@($"共{_tatolCount}条")</span>
                            </MCol>
                            <MCol Align="@AlignTypes.Center">
                                <MSelectTemplate Value="@_paginationSelect"
                                                    ValueChanged="OnSelectValueChange"></MSelectTemplate>
                            </MCol>
                            <MCol Align="@AlignTypes.Center">
                                <MPagination Length="_tatolPage" Value="_currentPage" TotalVisible="6" ValueChanged="OnPaginationValueChange"></MPagination>
                            </MCol>
                        </MRow>
                    </div>
                </MCol>
            </MRow>
        </MCol>
    </MRow>
</MCard>

<style>
    .custom-pblocktext span {
        padding: 4px !important;
        height: 26px !important;
        font-size: 16px !important;
    }
</style>